/.vs
/postApiTools/bin/Debug/runtime
/postApiTools/bin/Debug/Debug.zip
/postApiTools/bin/Debug
/postApiTools/obj/Release
/postApiTools/obj/Debug
/postApiTools/bin/Release
/postApiTools/bin/postApiTools.aip
/postApiTools/bin/oss
/postApiTools/bin/install
/postApiTools/bin/setup.exe
/postApiTools/bin/postApiTools-cache/cacheIndex.txt
/postApiTools/bin/postApiTools-cache/part1/output-info.ini
/postApiTools/bin/postApiTools-cache/part1/FILES.7z
/postApiTools/bin/postApiTools-cache
/postApiTools/obj/x64
/postApiTools/obj/x86
